
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;800&display=swap');

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}


body {
  background: linear-gradient(135deg, #434343, #000000);
}

@supports (padding-top: env(safe-area-inset-top)) {
  body {
      /* Adjust padding or other properties if needed */
      padding-top: env(safe-area-inset-top);
  }
}
.container{
  /* Flexbox Layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Full Viewport Height */
  height: 100vh;
  width: 100%;
  
  /* Preventing Overflow */
  overflow: hidden;
}

.clock-container{
  padding: 25px;
  border-radius: 30px;
  background-color: black;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.clock{
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  position: relative;
}

/* media query for width smaller than 300px, 325px,350px and 375px */
@media screen and (max-width: 300px) {
  .clock-container{
    padding: 10px;
  }
  .clock{
    width: 220px;
    height: 220px;
  }
}
@media screen and (min-width: 300px) and (max-width: 325px) {
  .clock-container{
    padding: 10px;
  }
  .clock{
    width: 240px;
    height: 240px;
  }
}
@media screen and (min-width: 325px) and (max-width: 350px) {
  .clock-container{
    padding: 10px;
  }
  .clock{
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 350px) and (max-width: 375px) {
  .clock-container{
    padding: 10px;
  }
  .clock{
    width: 270px;
    height: 270px;
  }
}

.clock .number{
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: rotate(var(--rotation));
      -ms-transform: rotate(var(--rotation));
          transform: rotate(var(--rotation));
  font-size: 1.5rem;
}

.clock .number1{ --rotation: 30deg; }
.clock .number2{ --rotation: 60deg; }
.clock .number3{ --rotation: 90deg; }
.clock .number4{ --rotation: 120deg; }
.clock .number5{ --rotation: 150deg; }
.clock .number6{ --rotation: 180deg; }
.clock .number7{ --rotation: 210deg; }
.clock .number8{ --rotation: 240deg; }
.clock .number9{ --rotation: 270deg; }
.clock .number10{ --rotation: 300deg; }
.clock .number11{ --rotation: 330deg; }

.clock .hand{
  --rotation:0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
      -ms-transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
          transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius: 5px;
  z-index: 10;
  background-color: black;
}

.clock-container::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12;
}
.clock::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 14;
}

.clock::before{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 15;
}



.clock .hand.second {
  width: 2px;
  height: 47%;
  bottom: 50%;
  -webkit-transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
      -ms-transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
          transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
  background-color: #f00;
  z-index: 13;
}
.clock .hand.second::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #f00;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 112%;
  top: 112%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 13;
}

.clock .hand.minute{
  width: 4px;
  height: 40%;
  background-color: #000;
  z-index: 11;
}

.clock .hand.minute::after{
  content: '';
  position: absolute;
  width: 7px;
  height: 100%;
  background-color: #000000;
  border-radius: 10px;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
}

.clock .hand.hour{
  width: 4px;
  height: 30%;
  background-color: #000;
}

.clock .hand.hour::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 75%;
  background-color: #000000;
  border-radius: 10px;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}