@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

body{
  background: #002339;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 90%;
  max-width: 500px;
  background: linear-gradient(135deg, #87CEEB, #7171ff);
  border-radius: 20px;
  padding: 40px 35px;
}

.display{
  width: 100%;
  margin-top: 40px;
  margin-bottom: 25px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
}

.container h1{
  font-weight: 500;
  font-size: 30px;
}

.container h1 span{
  color: #01195a;
  border-bottom: 4px solid #015d9f;
  padding-bottom: 7px;
  font-weight: 700;
}

.display i{
  font-size: 26px;
  cursor: pointer;
  transition: transform 0.2s;
}

.display i:hover{
  transform: scale(1.1);
}

.display input{
  border: 0;
  outline: 0;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
}

.container button i{
  font-size: 26px;
  margin-right: 10px;
  transition: transform 0.2s;
}

.container button{
  background: #01195a;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}