*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
  background: #1a005b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 90%;
  max-width: 600px;
  background: linear-gradient(135deg, #4203a9, #90bafc);
  color: #fff;
  padding: 40px 35px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.calculator{
  width: 100%;
  max-width: 550px;
  /* background: linear-gradient(135deg, #4203a9, #90bafc); */
  
}
.calculator h1{
  font-size: 50px;

}
.calculator h1 span{
  color: #ffff76;
} 
.input-box{
  margin: 20px 0;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255,255,255,0.3);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center; 
}
/* make the buttons aling in a row for devices smaller than iphone */
@media only screen and (max-width: 420px){
  .input-box{
    flex-direction: column;
    align-items: flex-start;
  }
  .input-box input{
    width: 100%;
  }
  .input-box button{
    margin-top: 20px;
  }
}

.input-box input{
  flex: 1;
  margin-right: 20px;
  padding: 14px 15px;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator
 {
    /* change the color of the calender icon to white but not the text */
    filter: invert(1);
    opacity: 0;
     /* change the color of text to white */
    -webkit-appearance: none;
    
}
.input-box input::-webkit-calendar-picker-indicator{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 30px;
  cursor: pointer;

}
.input-box button{
  background: #ffff76;
  border: 0;
  outline: 0;
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
  padding: 14px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.input-box button:active{
  transform: scale(0.9);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.input-box button:hover{
  
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
.result-styles{
  font-size: 20px;
  padding-left: 20px;
  border-radius: 10px;
}
.result-styles span{
  color: #ffff76;
  font-weight: 500;
}